.jumbotron
  .center
    %h1 REAL SHIT GOAN GO HERE
    .row
      .col-lg-6
        %h3 SEARCH BAR N SHIT
      .col-lg-6
        %h3 SUBMIT A CRUSH N SHIT

.center
  Last updated: when-the-hell-ever
.row
  .col-lg-4
    %h1 Top Users
    %table.table.table-striped
      %tr
        %th
        %th
        %th Name
        %th Number of crushes


      - (@users.sort_by {|user| user.crushes.size}).reverse.each_with_index do |user, i|
        %tr
          %td= (i+1).to_s
          %td= link_to image_tag(user.pic_url), user
          %td= link_to user.name, user
          %td= user.crushes.length

  .col-lg-8
    %h1 Latest Crushes
    %table
      %tr
        %th
        %th
        %th

      - @crushes.each do |crush|
        %tr
          %td= link_to crush.content, "#"
          %td= link_to crush.user.name, crush.user.profile_url, target: "_blank"
          %td= link_to image_tag(crush.user.pic_url), crush.user.profile_url, target: "_blank"
