.jumbotron
  .center
    .row
      .col-lg-6
        .input-group.input-group-lg
          <input type="text" class="form-control" placeholder="Search for someone"/>
      .col-lg-6
        = link_to "Submit a crush", CRUSHES_SUBMIT_URL, { target: "_blank", class: "btn btn-primary btn-lg" }
.row
  .col-lg-5
    %h1 Top Users
    .scrollable
      %table.table.table-striped
        - (@users.sort_by {|user| user.posts.size}).reverse.each_with_index do |user, i|
          %tr
            %td= (i+1).to_s
            %td
              .media
                = link_to image_tag(user.pic_url_medium, class: "media-object thumbnail"), user, class: "pull-left"
                .media-body
                  .media-heading
                    %h4= link_to user.name, user
                  = user.posts.length.to_s + " crushes"

  .col-lg-7
    %h1 Latest Crushes
    .scrollable
      %table.table.table-striped

        - @posts.each do |post|
          %tr
            %td
              .media
                = link_to image_tag(post.user.pic_url_medium, class: "media-object thumbnail"), post.user.profile_url, target: "_blank", class: "pull-right"
                .media-body
                  .media-heading
                    %h4= link_to post.user.name, post.user.profile_url, target: "_blank"
                  = link_to post.content, "#"

.center
  Last updated: when-the-hell-ever
