.jumbotron
  .center
    %h1 REAL SHIT GOAN GO HERE
    .row
      .col-lg-6
        .input-group.input-group-lg
          <input type="text" class="form-control" placeholder="Search for someone"/>
      .col-lg-6
        = link_to "Submit a crush", CRUSHES_SUBMIT_URL, { target: "_blank", class: "btn btn-primary btn-lg" }

.center
  Last updated: when-the-hell-ever
.row
  .col-lg-4
    %h1 Top Users
    %table.table.table-striped
      %tr
        %th
        %th
        %th Name
        %th Number of crushes


      - (@users.sort_by {|user| user.posts.size}).reverse.each_with_index do |user, i|
        %tr
          %td= (i+1).to_s
          %td= link_to image_tag(user.pic_url), user
          %td= link_to user.name, user
          %td= user.posts.length

  .col-lg-8
    %h1 Latest Crushes
    %table.table.table-striped

      - @posts.each do |post|
        %tr
          %td= link_to post.content, "#"
          %td= link_to post.user.name, post.user.profile_url, target: "_blank"
          %td= link_to image_tag(post.user.pic_url), post.user.profile_url, target: "_blank"
