%p#notice= notice

.row
  .col-lg-4
    %h1= "#{@user.full_name}"
    %h2= "#{pluralize(@user.posts.length, "crushes")}"
    .center
      = link_to image_tag(@user.pic_url_large), @user.profile_url, target: "_blank"
    
  .col-lg-8
    %table.table.table-striped
      - @user.posts.each do |post|
        %tr
          %td= post.content

%p= link_to 'Back', users_path
