%p#notice= notice

.row
  .col-lg-4
    %p= "#{@user.name}"
    %p= "#{pluralize(@user.crushes.length, "crush")}"
    = link_to image_tag(@user.pic_url), @user.profile_url, target: "_blank"
    
  .col-lg-8
    %table.table.table-striped
      - @user.crushes.each do |crush|
        %tr
          %td= crush.content

= link_to 'Back', users_path
