%html
  %head
    %title= APP_NAME
    = stylesheet_link_tag "application",
    { media: "all", "data-turbolinks-track" => true } unless @disable_css
    = javascript_include_tag "application", "data-turbolinks-track" => true unless @disable_js
    = javascript_include_tag GOOGLE_URL_AJAX_API, "data-turbolinks-track" => true unless @disable_js
    = csrf_meta_tags unless @disable_csrf
    
  = render "layouts/homepage_info"
  = render 'layouts/header' unless @disable_header

  %body
    .content-wrapper
      = yield
